.main-new-subject{
  padding: 0 50px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.new-subject-page{
  background-color: var(--bg-lighter);
  max-width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* height: 400px; */
  padding: 20px 40px 40px 40px;
  border-radius: var(--radius-lg);
  font-family: var(--roboto);

  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px inset;
}

.new-subject-page .sub-heading{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.form-content{
  margin-top: 40px;
}

.form-content form{
  display: flex;
  align-items: baseline;
}

.form-content p{
  margin-top: 24px;
}

.input-title-card{
  background-color: var(--bg-lighter);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  height: auto;
  padding: 20px 25px;
  border-radius: var(--radius-lg);
  font-size: 2rem;
  border-style: none;
  width: 100%;
  font-family: var(--big-fonts);
  color: var(--primary-green);

}

.input-description-card{
  background-color: var(--bg-lighter);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  height: auto;
  padding: 20px 25px;
  border-radius: var(--radius-lg);
  border-style: none;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.but-cont{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.but-cont button{
  width: 150px;
  height: 40px;
  border-style: none;
  background-color: var(--primary-purple);
  color: White;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.but-cont button:hover{
  background-color: rgb(104, 48, 199);
}

