.main-sidebar{
  width: 240px;
  background-color: var(--bg-lighter);
  height: 100vh;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  

}

.side-bar-elements{
  display: flex;
  gap: 5px;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
}

.side-bar-elements li{
  display: flex;
  gap: 10px;
  background-color: rgba(16, 185, 129, 0.10);
  padding: 5px;
  border-radius: var(--radius-sm);

}

.side-bar-elements li img{
  width: 24px;
}