.subject-detail{
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 20px;
}

.subject-container{
  background-color: var(--bg-lighter);
  width: 100%;
  min-height: 500px;
  padding: 20px 40px 40px 40px;
  border-radius: var(--radius-lg);

  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px inset;
}

.view-indicator{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.subject-container h1{
  font-family: var(--big-fonts);
  color: var(--color-tertiary);
}

.subject-container h2{
  font-family: var(--big-fonts);
  color: var(--color-tertiary);
  margin-top: 20px;
}

.note-views{
  display: flex;
  gap: 20px;
  font-size: 14px;
  padding-left: 20px;
  
}

.notes-container ul{
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.note-card{
  width: 250px;
  height: 300px;
  background-color: var(--mint);
  border-radius: var(--radius-lg);
  padding: 20px;
  color: var( --color-tertiary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;

  cursor: pointer;
  transition: transform 0.3s ease;
}

.note-card:hover{
  transform: scale(1.1);
}

.note-title{
  font-family: var(--big-fonts);
  font-size: 1.5rem;
  line-height: 30px;

  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content{
  font-family: var(--roboto);
  font-size: 0.8rem;
  margin-top: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 6;  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}