.main-dash{
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.dash-side{
  width: 100%;
  display: flex;
}


.main-subjects-dash{
  padding: 0 50px;
  width: 100%;
}

.subject-section{
  background-color: var(--bg-lighter);
  width: 100%;
  margin-top: 20px;
  /* height: 400px; */
  padding: 20px 40px 40px 40px;
  border-radius: var(--radius-lg);

  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px inset;
}

.subj-header{
  font-size: 2rem;
  font-family: var(--big-fonts);
  color: var(--color-tertiary);

}

.subject-list-cont{
  display: flex;
  gap: 20px;
}

.subject-card{
  width: 250px;
  height: 300px;
  background-color: var(--mint);
  border-radius: var(--radius-lg);
  padding: 20px;
  color: var( --color-tertiary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}

.subject-card .subject-title{
  font-family: var(--big-fonts);
  font-size: 1.5rem;
  line-height: 30px;

  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-card .subject-description{
  font-family: var(--roboto);
  font-size: 0.8rem;
  margin-top: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-card .note-head{
  margin-top: 10px;
  font-size: 0.9rem;
  font-family: var(--roboto);
  font-weight: bold;
}

.subject-card .notes-titles{
  font-family: var(--roboto);
  font-size: 0.8rem;
  margin-top: 10px;
}

.line{
  width: 60px;
  height: 2.5px;
  background-color: white;
  border-radius: 5px;
}

