.main-dash{
  display: flex;
  width: 100%;
}

.dash-nav{
  width: 100%;
}

.back-arrow{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.back-arrow:hover{
  background-color: rgb(232, 230, 230);
}

.top-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.search{
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: var(--radius-md);
  padding: 0 10px;
  width: 400px;
  gap: 10px;
  color: var(--color-text-light);
  font-family: var(--roboto);
  font-size: 1rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}









/* Laoder css */
.loading{
  display: flex;
  height: 80vh;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(154, 44, 218, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #5c0b9a;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }
      