:root {
  /* Typography */
  --font-family: 'Segoe UI', Roboto, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --big-fonts: "Koulen", sans-serif;
  --small-fonts: "Kosugi", sans-serif;
  --roboto: Roboto, sans-serif;


  /* Colors */
  --color-primary: #C2F970;
  --color-secondary: #44344F;
  --color-tertiary: rgb(86, 77, 128);
  --color-text: #111827;
  --color-text-light: #98A6D4;
  --color-background: #D3FCD5;

  /* NEW Colors */
  --primary-green: rgb(16, 185, 129);
  --primary-purple: rgb(124, 58, 237);
  --bg-lighter: rgb(249, 250, 251);
  --text-dark: rgb(31, 41, 55);
  --bg-light: #eeeff0;

  /* NEW Colors */
  --pastel-pink: #FFF0FA;
  --lavender: #F8F0FF;
  --peach: #FFF4F0;
  --mint: #FFF4F0;
  --sky-blue: #F0F9FF;


  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

/* Optional Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--bg-light);
  -webkit-font-smoothing: antialiased;
}

li{
  list-style: none;
}