.main-sidebar{
  width: 240px;
  background-color: var(--bg-lighter);
  height: 100%;
  padding: 10px 5px 0 20px;
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 35px;

}

.side-bar-elements, .bottom-elements{
  display: flex;
  gap: 5px;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
  color: var(--color-secondary);
}

.side-bar-elements li{
  padding: 5px;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.side-bar-elements li:hover{
  background-color: rgb(86, 77, 128, 0.4);
  padding: 5px;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.side-bar-elements li div, .bottom-elements div{
  display: flex;
  gap: 16px;
}

.side-bar-elements li img{
  width: 20px;
}